/*------------------------------ Intro : -----------------------------------------*/
@media (max-width: 1100px) {
  .intro-underline {
    width: 45% !important;
    margin-top: 30px !important;
  }
  .intro-line {
    width: 90% !important;
  }
}
@media (max-width: 1000px) {
  .intro-underline {
    width: 40% !important;
    margin-top: 30px !important;
  }
  .intro-line {
    width: 90% !important;
  }
}
@media (max-width: 900px) {
  .intro-underline {
    width: 50% !important;
    margin-top: 30px !important;
  }
  .intro-line {
    width: 90% !important;
  }
}
@media (max-width: 750px) {
  .shcool-underline {
    width: 60% !important;
    margin-top: 30px !important;
  }
  .intro-line {
    width: 90% !important;
  }
}
@media (max-width: 700px) {
  .intro-underline {
    width: 55% !important;
    margin-top: 25px !important;
  }
  .intro-line {
    width: 89% !important;
  }
}
@media (max-width: 500px) {
  .Intro {
    padding: 80px 5% 20px 5%;
  }
  .Intro > h1 {
    font-size: 38px;
  }
  .Intro > h3 {
    font-size: 18px;
  }
  .intro-underline {
    width: 70% !important;
    margin-top: 25px !important;
  }
  .intro-line {
    width: 87% !important;
  }
}
@media (max-width: 400px) {
  .Intro {
    padding: 80px 5% 20px 5%;
  }
  .Intro > h1 {
    font-size: 33px;
  }
  .Intro > h3 {
    font-size: 18px;
  }
  .intro-underline {
    width: 60% !important;
    margin-top: 30px !important;
  }
  .intro-line {
    width: 85% !important;
  }
}
@media (max-width: 300px) {
  .Intro {
    padding: 80px 5% 20px 5%;
  }
  .Intro > h1 {
    font-size: 28px;
  }
  .Intro > h3 {
    font-size: 15px;
  }
  .intro-underline {
    width: 60% !important;
    margin-top: 20px !important;
  }
  .intro-line {
    width: 75% !important;
  }
}

/*------------------------------ Bienvenu : ----------------------------------------*/
@media (max-width: 1200px) {
  .Bienvenu {
    grid-template-columns: 1.4fr 1fr;
    padding: 80px 5% 120px 5%;
  }
  .Bienvenu-img {
    height: auto;
  }
  .Bienvenu-txt-cont {
    padding-right: 40px;
  }
}
@media (max-width: 1100px) {
  .Bienvenue-line {
    margin-top: -5% !important;
    width: 80% !important;
    background: linear-gradient(90deg, #12264f 0%, #70b8ba 100%) !important;
  }
  .Bienvenue-line::before {
    box-shadow: 10px 0 0 0 #12264f, 20px 0 0 0 #12264f, 30px 0 0 0 #12264f;
  }
  .Bienvenu-f1 {
    font-size: 28px;
  }
  .Bienvenu h1 {
    font-size: 2.3rem;
    text-align: center;
    display: none;
    line-height: 1.5;
  }
  .Bienvenu {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "image"
      "text";
    padding: 80px 5% 120px 5%;
    gap: 30px;
  }

  .Bienvenu-txt-cont {
    padding-right: 0;
    grid-area: text;
  }
  .Bienvenu p {
    padding: 0 0%;
  }
  .hidden-title {
    font-family: "Rubik", "sans-serif";
    grid-area: title;
    margin: 0 !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }
  .Bienvenu-img {
    width: 45%;
    height: 85%;
  }
  .Bienvenu-img-cont {
    justify-content: center;
    grid-area: image;
    margin-bottom: 10px;
  }
  .Bienvenue-line {
    margin-top: -0% !important;
    width: 80% !important;
  }
  .Bienvenu-underline {
    width: 33% !important;
    margin-top: 20px;
  }
  .Bienvenu p {
    font-size: 17px !important;
    padding: 0 0%;
  }
}
@media (max-width: 900px) {
  .Bienvenu {
    gap: 15px;
    padding: 80px 5% 120px 5%;
  }
  .Bienvenue-line {
    margin-top: -5% !important;
    width: 80% !important;
    background: linear-gradient(90deg, #12264f 0%, #70b8ba 100%) !important;
  }
  .Bienvenue-line::before {
    box-shadow: 10px 0 0 0 #12264f, 20px 0 0 0 #12264f, 30px 0 0 0 #12264f;
  }

  .Bienvenu-f1 {
    font-size: 28px;
  }
  .Bienvenu h1 {
    font-size: 2.3rem;
    text-align: center;
    display: none;
    line-height: 1.5;
  }

  .Bienvenu-img {
    width: 45%;
    height: 85%;
  }
  .Bienvenu p {
    padding: 0 3%;
  }
}
@media (max-width: 850px) {
  .Bienvenu-img {
    width: 50%;
  }
  .Bienvenu p {
    padding: 0 5%;
  }
}
@media (max-width: 800px) {
  .Bienvenu-img {
    width: 55%;
  }
}
@media (max-width: 750px) {
  .Bienvenu-img-cont {
    justify-content: center;
    grid-area: image;
    margin-bottom: 10px;
  }
  .Bienvenu-underline {
    width: 33% !important;
    margin-top: 20px;
  }
  .Bienvenue-line {
    width: 80% !important;
  }
  .Bienvenu p {
    font-size: 17px !important;
    padding: 0 5%;
  }
}
@media (max-width: 700px) {
  .Bienvenu-img {
    width: 60%;
  }
}
@media (max-width: 650px) {
  .Bienvenu h1 {
    font-size: 2rem;
  }
  .Bienvenu-img {
    width: 65%;
  }
}
@media (max-width: 600px) {
  .Bienvenu-underline {
    width: 36% !important;
  }
  .Bienvenu p {
    font-size: 16px !important;
  }
}
@media (max-width: 550px) {
  .Bienvenu-f1 {
    font-size: 26px;
  }
  .Bienvenu h1 {
    font-size: 1.9rem;
    text-align: center;
    display: none;
  }
  .Bienvenu-underline {
    width: 44% !important;
  }
  .Bienvenue-line {
    width: 80% !important;
  }
}
@media (max-width: 450px) {
  .Bienvenu h1 {
    font-size: 1.8rem;
  }
  .Bienvenu-f1 {
    font-size: 24px;
  }
  .Bienvenu-img {
    width: 75%;
  }
}
@media (max-width: 400px) {
  .Bienvenu h1 {
    font-size: 1.6rem;
  }
  .Bienvenu-f1 {
    font-size: 22px;
  }
  .Bienvenu-underline {
    width: 51% !important;
  }
}
@media (max-width: 350px) {
  .Bienvenu h1 {
    font-size: 1.5rem;
  }
  .Bienvenu-f1 {
    font-size: 19px;
  }
  .Bienvenu p {
    font-size: 14.5px;
    text-align: center;
  }
}
@media (max-width: 300px) {
  .Bienvenu h1 {
    font-size: 1.4rem;
  }
  .Bienvenu-f1 {
    font-size: 18px;
  }
  .Bienvenu-underline {
    width: 58% !important;
    margin-top: 20px;
  }
}
@media (max-width: 250px) {
  .Bienvenu h1 {
    font-size: 1.3rem;
  }
  .Bienvenu-f1 {
    font-size: 17px;
  }
  .Bienvenu-underline {
    width: 78% !important;
  }
  .Bienvenue-line {
    width: 78% !important;
  }
}
@media (max-width: 200px) {
  .Bienvenu-underline {
    width: 75% !important;
  }
}

/*------------------------------ Creation-infos : -----------------------------------*/
@media (max-width: 750px) {
  .Creation-infos {
    flex-direction: row;
    gap: 0px;
  }
  .C-Infos > span {
    font-size: 45px;
  }
  .C-Infos > p {
    font-size: 18px;
    padding-top: 20px;
  }
  @keyframes borderAnimation-1 {
    0% {
      width: 0;
    }
    100% {
      width: 140px;
    }
  }
  @keyframes borderAnimation-2 {
    0% {
      width: 0;
    }
    100% {
      width: 100px;
    }
  }
}
@media (max-width: 550px) {
  .Creation-infos {
    flex-direction: column;
    gap: 120px;
  }
  .C-Infos > span {
    font-size: 45px;
  }
  @keyframes borderAnimation-1 {
    0% {
      width: 0;
    }
    100% {
      width: 120px;
    }
  }
  @keyframes borderAnimation-2 {
    0% {
      width: 0;
    }
    100% {
      width: 70px;
    }
  }
}
@media (max-width: 200px) {
  .C-Infos > span {
    font-size: 35px;
  }
  .Creation-infos {
    flex-direction: column;
    gap: 100px;
  }
}

/*------------------------------ Mot Du Directeur : ---------------------------------*/
@media (max-width: 1100px) {
  .MOT-DU-DIRECTEUR {
    padding: 80px 5%;
  }
  .MDD {
    font-size: 2rem;
    padding: 0;
    text-align: center;
  }
  .shcool-line {
    width: 108%;
  }
  .underline-shcool {
    width: 118%;
  }
  .MDD-Text {
    padding: 0 5%;
    font-size: 1.07rem;
    text-align: justify;
  }
  .frame-container {
    gap: 40px;
  }
}
@media (max-width: 1000px) {
  .MOT-DU-DIRECTEUR {
    padding: 80px 5%;
  }
  .MDD {
    font-size: 1.8rem;
  }
  .shcool-line {
    width: 103%;
  }
  .underline-shcool {
    width: 114%;
  }
}
@media (max-width: 750px) {
  .MOT-DU-DIRECTEUR {
    padding: 80px 5%;
  }
  .MDD {
    font-size: 1.4rem;
  }
  .shcool-line {
    width: 95%;
  }
  .underline-shcool {
    width: 112%;
  }
  .MDD-Text {
    padding: 0 5%;
    font-size: 1.07rem;
    text-align: justify;
  }
  .frame-container {
    gap: 40px;
  }
}
@media (max-width: 350px) {
  .MDD {
    font-size: 1.2rem;
  }
  .shcool-line {
    width: 89%;
  }
  .underline-shcool {
    width: 106%;
  }
  .MDD-Text {
    text-align: center;
  }
  .frame-container {
    gap: 30px;
  }
}
@media (max-width: 250px) {
  .shcool-line {
    width: 79%;
  }
  .underline-shcool {
    width: 100%;
  }
  .MDD {
    font-size: 1rem;
    padding: 0;
    text-align: center;
  }
}

/*------------------------------ Nos-Services : -------------------------------------*/
@media (max-width: 1150px) {
  .Nos-Services {
    padding: 110px 5%;
  }
  .container {
    grid-template-columns: 1.3fr 1fr;
    gap: 22px;
  }
  .service-cont {
    font-size: 16px;
  }
  .services-text {
    font-size: 14px;
  }
}
@media (max-width: 900px) {
  .Nos-Services {
    padding: 110px 5%;
  }
  .container {
    grid-template-columns: 1.3fr 1fr;
    gap: 18px;
  }
}
@media (max-width: 850px) {
  .Nos-Services {
    padding: 110px 5%;
  }
  .container {
    grid-template-columns: 1fr;
    gap: 45px;
  }
  .service-cont {
    font-size: 18px;
  }
  .services-text {
    font-size: 16px;
  }
}
@media (max-width: 800px) {
  .services-header {
    font-size: 2rem;
    text-align: center;
  }
  .services-text {
    font-size: 15px;
    text-align: center;
  }
  .service-cont {
    font-size: 17px;
    gap: 15px;
  }

  .Nos-Services {
    padding: 110px 10%;
  }
  .container {
    gap: 40px;
  }
  .button-services {
    font-size: 0.7rem;
    padding: 0 2%;
  }
  .services-txt-cont {
    gap: 25px;
  }
  .services-icon-cont {
    width: 18px;
  }
  .box {
    width: 50%;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .services-header {
    font-size: 2rem;
    text-align: center;
  }
  .services-text {
    font-size: 15px;
    text-align: center;
  }
  .service-cont {
    font-size: 17px;
    gap: 15px;
  }

  .Nos-Services {
    padding: 110px 10%;
  }
  .container {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .button-services {
    font-size: 0.7rem;
    padding: 0 2%;
  }
  .services-txt-cont {
    gap: 25px;
  }
  .services-icon-cont {
    width: 18px;
  }
  .box {
    width: 50%;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .services-header {
    font-size: 1.9rem;
    text-align: center;
  }
  .service-cont {
    font-size: 16px;
  }
  .services-text {
    font-size: 14px;
    text-align: center;
  }
}
@media (max-width: 450px) {
  .services-header {
    font-size: 1.8rem;
  }
  .service-cont {
    font-size: 15px;
  }
  .box {
    width: 55%;
  }
}
@media (max-width: 400px) {
  .services-header {
    font-size: 1.7rem;
  }
  .box {
    width: 62%;
  }
  .Nos-Services {
    padding: 110px 8%;
  }
}
@media (max-width: 350px) {
  .box {
    width: 70%;
  }
  .services-header {
    font-size: 1.6rem;
  }
}
@media (max-width: 300px) {
  .services-header {
    font-size: 1.5rem;
  }
  .services-text {
    font-size: 13px;
  }
  .service-cont {
    font-size: 14px;
  }
  .button-services {
    font-size: 0.66rem;
  }
}
@media (max-width: 250px) {
  .services-header {
    font-size: 1.4rem;
  }
  .services-text {
    font-size: 13px;
  }
  .service-cont {
    font-size: 14px;
  }
  .box {
    width: 75%;
  }
  .button-services {
    font-size: 0.6rem;
  }
}
@media (max-width: 200px) {
  .services-header {
    font-size: 1.3rem;
  }
  .services-text {
    font-size: 13px;
  }
  .service-cont {
    font-size: 14px;
  }
  .box {
    width: 80%;
  }
  .button-services {
    font-size: 0.66rem;
  }
}

/*------------------------------ Réglement Intérieur : ------------------------------*/
@media (max-width: 1200px) {
  .reglement {
    padding: 80px 8%;
    gap: 40px;
    grid-template-columns: 0.8fr 1fr;
  }
  .download-container > h3 {
    font-size: 17px;
  }

  .reglement-p2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
  }
  .heading-primary {
    font-size: 1.9rem;
    text-align: initial;
  }

  .download-container {
    flex-direction: column;
    gap: 20px;
  }
  .reglement-img {
    width: 100%;
  }
  .reglement-container {
    padding: 18px 8%;
  }
}
@media (max-width: 900px) {
  .reglement {
    padding: 80px 8%;
    gap: 40px;
    grid-template-columns: 1fr 1fr;
  }
  .reglement-p2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
  }
  .heading-primary {
    font-size: 1.55rem;
    text-align: initial;
  }
  .download-container > h3 {
    font-size: 14px;
  }

  .download-container {
    flex-direction: column;
    gap: 30px;
  }
  .reglement-img {
    width: 100%;
  }
  .reglement-container {
    padding: 18px 8%;
  }
}
@media (max-width: 750px) {
  .heading-primary {
    font-size: 1.33rem;
    text-align: center;
  }
}
@media (max-width: 650px) {
  .heading-primary {
    font-size: 1.2rem;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .reglement {
    grid-template-columns: 1fr;
  }
  .reglement-p2 {
    gap: 20px;
  }
  .heading-primary {
    font-size: 1.5rem;
    text-align: center;
  }
  .download-container > h3 {
    font-size: 17px;
  }
  .download-container {
    flex-direction: column;
    gap: 40px;
  }
}
@media (max-width: 400px) {
  .reglement {
    gap: 30px;
  }
}

/*------------------------------ Nos-Site : -----------------------------------------*/
@media (max-width: 1000px) {
  .Nos-Site {
    padding: 60px 5% 90px;
  }
  .heading-child-cont {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
  }
  .Nos-Site-Heading {
    font-size: 2rem;
    padding-right: 10px;
  }
  .shcool-icon {
    font-size: 30px;
  }
  .nos-site-container {
    position: relative;
    height: auto;
    min-width: -webkit-fill-available;
    margin: 0 15%;
    height: 280px;
  }
  .visit-button {
    padding: 10px 5%;
    font-size: 11px;
  }
}
@media (max-width: 550px) {
  .Nos-Site {
    padding: 60px 5% 90px;
  }
  .heading-child-cont {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
  }
  .Nos-Site-Heading {
    font-size: 2rem;
    padding-right: 10px;
  }
  .shcool-icon {
    font-size: 30px;
  }
  .nos-site-container {
    position: relative;
    height: auto;
    min-width: -webkit-fill-available;
    margin: 0 10%;
    height: 250px;
  }
  .visit-button {
    padding: 10px 5%;
    font-size: 11px;
  }
}
@media (max-width: 450px) {
  .Nos-Site-Heading {
    font-size: 2rem;
  }
}
@media (max-width: 400px) {
  .Nos-Site-Heading {
    font-size: 1.8rem;
  }
  .underline-shcool {
    width: 106%;
  }
  .shcool-line {
    width: 91%;
  }
}
@media (max-width: 300px) {
  .Nos-Site-Heading {
    font-size: 1.6rem;
  }
  .underline-shcool {
    width: 103% !important;
  }
  .shcool-line {
    width: 82% !important;
  }
}
@media (max-width: 250px) {
  .Nos-Site-Heading {
    font-size: 1.4rem;
  }
}

/*------------------------------ Contactez-nous : -----------------------------------*/
@media (max-width: 1200px) {
  .form-row {
    flex-direction: row;
    gap: 1px;
  }
  .Contact-f1 > p {
    font-size: 15px;
    padding: 0 8%;
    margin-top: 10px;
  }
  .form-container {
    padding: 0 20%;
  }
  .Contact-f1 > h1 {
    font-size: 25px;
  }
  .Contact-f1 h1::before,
  .Contact-f1 h1::after {
    top: 50%;
    max-width: 60px;
  }
  .Contact-f1 h1::after {
    right: -75px;
  }
  .Contact-f1 h1::before {
    left: -75px;
  }

  .Contactez-nous {
    padding: 100px 15%;
  }
  .Contact-Title {
    padding: 50px 5% 30px 5%;
    gap: 40px;
  }
  .Contacts-form {
    width: 100%;
  }
  .Contacts-form button {
    max-width: 120px !important;
    padding: 10px 60px;
  }
  .type1::before {
    width: -webkit-fill-available;
  }
  .type1::after {
    width: -webkit-fill-available;
  }
}
@media (max-width: 1200px) {
  .Contactez-nous {
    padding: 100px 8%;
  }
}
@media (max-width: 1100px) {
  .form-container {
    padding: 0 15%;
  }
  .Contact-f1 > p {
    font-size: 15px;
    padding: 0 5%;
    margin-top: 10px;
  }
  .Contactez-nous {
    padding: 100px 7%;
  }
  .Contact-f1 > h1 {
    font-size: 25px;
  }
}
@media (max-width: 1000px) {
  .Contactez-nous {
    padding: 100px 10%;
  }
  .Contact-f1 > h1 {
    font-size: 24px;
  }
}
@media (max-width: 750px) {
  .form-container {
    padding: 0 5%;
  }
  .Contact-f1 > p {
    font-size: 13px;
    padding: 0;
    margin-top: 10px;
  }
  .form-row {
    flex-direction: row;
    gap: 1px;
  }
  .Contactez-nous {
    padding: 100px 5%;
  }
  .Contact-f1 > h1 {
    font-size: 23px;
  }
}
@media (max-width: 500px) {
  .form-container {
    padding: 0 5%;
  }
  .form-row {
    flex-direction: column;
    gap: 10px;
  }
  .Contact-f1 > h1 {
    font-size: 22px;
  }
  .Contact-f1 > p {
    font-size: 13px;
    padding: 0;
    margin-top: 10px;
  }
  .Contact-f1 h1::before,
  .Contact-f1 h1::after {
    top: 50%;
    max-width: 60px;
  }
  .Contact-f1 h1::after {
    right: -67px;
  }
  .Contact-f1 h1::before {
    left: -67px;
  }
}
@media (max-width: 450px) {
  .Contact-f1 > h1 {
    font-size: 22px;
  }
  .Contact-f1 h1::before,
  .Contact-f1 h1::after {
    top: 50%;
    max-width: 55px;
  }
  .Contact-f1 h1::after {
    right: -62px;
  }
  .Contact-f1 h1::before {
    left: -62px;
  }
}
@media (max-width: 400px) {
  .form-container {
    padding: 0 5%;
  }
  .Contact-f1 > h1 {
    font-size: 22px;
  }
  .Contact-f1 > p {
    font-size: 13px;
    padding: 0;
    margin-top: 10px;
  }
  .Contact-f1 h1::before,
  .Contact-f1 h1::after {
    top: 50%;
    max-width: 30px;
  }
  .Contact-f1 h1::after {
    right: -35px;
  }
  .Contact-f1 h1::before {
    left: -35px;
  }
}
@media (max-width: 350px) {
  .Contact-f1 > h1 {
    font-size: 20px;
  }
  .Contact-f1 h1::before,
  .Contact-f1 h1::after {
    top: 50%;
    max-width: 25px;
  }
  .Contact-f1 h1::after {
    right: -30px;
  }
  .Contact-f1 h1::before {
    left: -30px;
  }
}
@media (max-width: 300px) {
  .Contact-f1 > h1 {
    font-size: 19px;
  }
  .Contact-f1 h1::before,
  .Contact-f1 h1::after {
    top: 50%;
    max-width: 20px;
  }
  .Contact-f1 h1::after {
    right: -25px;
  }
  .Contact-f1 h1::before {
    left: -25px;
  }
}
@media (max-width: 250px) {
  .form-container {
    padding: 0 5%;
  }
  .Contact-f1 > h1 {
    font-size: 15px;
  }
  .Contact-f1 > p {
    font-size: 13px;
    padding: 0;
    margin-top: 10px;
  }
  .Contact-f1 h1::after {
    right: -18px;
  }
  .Contact-f1 h1::before {
    left: -18px;
  }
  .Contact-f1 h1::before,
  .Contact-f1 h1::after {
    top: 50%;
    max-width: 15px;
  }
}

/* Min : 190px viewport*/
