/*<!--************************************************************-->*/
/*<!--- #FOOTER: --->*/
.footer {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1.2fr;
  padding: 70px 60px;
  background-color: #3f527b;
  color: var(--white);
}
.shortcuts-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.footer-logo-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: relative;
  padding: 0;
  margin: 0;
}
.footer-logo-container > h1 {
  font-size: 18px;
  line-height: 20px;
  color: #00b0f0;
  font-family: "Andika", "sans-serif";
}
.footer-logo-GSJJ {
  width: 90px;
  height: 90px;
  border-radius: 3px;
  margin-bottom: 6px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  border-radius: 50%;
}
.footer-logo-GSJJ:hover {
  transform: scale(1.04);
  cursor: pointer;
}

.contact-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 20px;
}
.infos-contact {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 8px;
  padding: 0 14px;
}
.inside-contact {
  display: flex;
  gap: 14px;
}
.toolTip-conainer > i {
  font-size: 18px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
.toolTip-conainer > i:hover {
  transform: translateY(-2px);
  color: #ff9700ad;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.inside-contact > a {
  text-decoration: none;
  color: var(--second-color);
  transition: color 0.3s;
  font-family: "Andika", "sans-serif";
  line-height: 1.3;
}
.inside-contact > a:hover {
  color: #ff9700ad;
  text-decoration: underline;
  text-underline-offset: 0.2em;
  transform: translateY(-2px);
  transition: 0.3s, transform 0.2s;
}
.toolTip-conainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.location-ToolTip {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  background-color: #000000ab;
  color: #fff;
  white-space: nowrap;
  padding: 5px 10px;
  border-radius: 7px;
  font-size: 12px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5 ease;
}
.location-ToolTip::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  border: 6px solid;
  border-color: #000 #0000 #0000 #0000;
}
.toolTip-conainer:hover .location-ToolTip {
  top: -180%;
  visibility: visible;
  opacity: 1;
}
.toolTip-conainer:hover .location-ToolTip {
  top: -185%;
  visibility: visible;
  opacity: 1;
}
.Tt-c-1:hover .Tt-1 {
  top: -70%;
}

.socials-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 10px;
}
.inside-socials {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 30px;
}
.inside-socials > i {
  font-size: 30px;
  cursor: pointer;
}

.social {
  margin: 0;
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.social .social-item {
  margin: 0 30px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social .social-item .social-link {
  position: relative;
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  text-align: center;
  transform: perspective(1000px) rotate(-15deg) skew(25deg) translate(0, 0);
  transition: all 0.4s ease;
  text-decoration: none;
  color: inherit;
}
.social .social-item .social-link::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -10px;
  height: 100%;
  width: 10px;
  background: #b1b1b1;
  transition: all 0.4s ease;
  transform: rotate(0deg) skewY(-45deg);
}
.social .social-item .social-link::after {
  content: "";
  position: absolute;
  top: 36px;
  left: -5px;
  height: 10px;
  width: 100%;
  background: #b1b1b1;
  transition: all 0.4s ease;
  transform: rotate(0deg) skewX(-45deg);
}
.social .social-item .social-link:hover {
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(5px, -5px);
  box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
}
.social .social-item:nth-child(1) a {
  color: #3b5999;
}
.social .social-item:nth-child(1):hover a {
  background: #3b5999;
}
.social .social-item:nth-child(1):hover a::before {
  background: #3b5999;
}
.social .social-item:nth-child(1):hover a::after {
  background: #3b5999;
}
.social .social-item:nth-child(2) a {
  color: #e4405f;
}
.social .social-item:nth-child(2):hover a {
  background: #e4405f;
}
.social .social-item:nth-child(2):hover a::before {
  background: #e4405f;
}
.social .social-item:nth-child(2):hover a::after {
  background: #e4405f;
}
.social .social-item:nth-child(3) a {
  color: #55acee;
}
.social .social-item:nth-child(3):hover a {
  background: #55acee;
}
.social .social-item:nth-child(3):hover a::before {
  background: #55acee;
}
.social .social-item:nth-child(3):hover a::after {
  background: #55acee;
}
.social .social-item .social-link:hover {
  color: #ffffff;
}

.location-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.location {
  height: 250px;
  width: 100%;
}
.copyright {
  position: relative;
  background-color: #26306b;
  padding: 15px;
}
.MM {
  width: 2.5rem;
  padding: 0 5px;
}
.MM:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.MM-container,
.copyright-GSJJ {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}
.MM-container {
  color: var(--second-color);
}

.go-up-container {
  position: fixed;
  right: 5%;
  bottom: 4%;
  display: none;
  z-index: 999;
  background-color: #333c4e;
  border-radius: 50px;
}
.stroke {
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.stroke svg {
  width: 42px;
  height: 42px;
}
.stroke svg circle {
  fill: transparent;
  stroke-width: 4;
  stroke: #ff9143;
  stroke-dasharray: 119.38;
  stroke-dashoffset: 119.38;
  transition: stroke-dashoffset 0.3s linear;
}
.btn-go-up {
  display: block;
  position: relative;
  width: 48px;
  height: 48px;
  margin: 0;
  overflow: hidden;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border: 0;
}
.btn-go-up:before,
.btn-go-up:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 7px;
}
.btn-go-up:before {
  border: 3.5px solid #f0eeef;
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}
.btn-go-up:after {
  border: 3.5px solid #96daf0;
  transform: scale(1.3);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
}
.btn-go-up:hover:before,
.btn-go-up:focus:before {
  opacity: 0;
  transform: scale(0.7);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.btn-go-up:hover:after,
.btn-go-up:focus:after {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}
.button-box-go-up {
  display: flex;
  flex-direction: column;
  gap: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.button-elem-go-up > i {
  font-size: 14px;
}
.button-elem-go-up:first-child {
  display: block;
  width: 20px;
  height: 20px;
  margin-top: 55px;
  transform: rotate(180deg);
  color: var(--white);
  transition: transform 0.4s ease-in-out;
}
.button-elem-go-up:last-child {
  display: block;
  width: 20px;
  height: 20px;
  transform: rotate(180deg);
  color: var(--white);
  transition: transform 0.4s ease-in-out;
}
.btn-go-up:hover .button-box-go-up,
.btn-go-up:focus .button-box-go-up {
  transition: 0.4s;
  transform: translate(-50%, calc(-50% - 56px));
}

.copyright-GSJJ {
  gap: 20px;
  font-family: "Andika", "sans-serif";
}
.copyright-logo {
  width: 40px;
}
.MyName {
  text-decoration: none;
  color: var(--second-color);
}
.MM-container b,
.MM-container .MyName {
  font-family: "Andika", "sans-serif";
}
.MyName:hover {
  color: rgb(0, 0, 0);
  text-decoration: underline;
  text-underline-offset: 0.1em;
}
