.header {
  width: 100%;
  height: 38vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../data/pictures/header.png");
  background-size: 100% 45vh;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(0.5);
  z-index: 1;
}
.header > h1 {
  position: relative;
  z-index: 2;
  color: #eef6ff;
  font-size: 45px;
  font-family: "Andika", "sans-serif";
}

.philosophie {
  background-image: url(../../data/pictures/bg1.jpg);
  background-size: contain;
  background-position: center;
  padding: 8rem 5%;
}
.philosophie::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(101, 101, 101, 0.04);
  z-index: -1;
}
.container {
  display: grid;
  grid-template-columns: 1.3fr 1fr;
}
.content {
  padding: 20px 60px 20px 20px;
}
.content span {
  display: flex;
  justify-content: center;
}
.primary-heading {
  color: #193d57;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 25px;
  border-bottom: 2px solid #ff9143;
  padding: 4px 20px;
}
.text-content {
  text-align: justify;
  line-height: 1.5;
  color: #193d57;
  font-family: "Andika", "sans-serif";
  line-height: 1.75;
}
.valeurs {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 16px;
  margin-left: 20px;
  list-style: none;
  padding: 0;
}
.valeurs li {
  position: relative;
  padding-left: 25px;
  font-size: 1rem;
  color: #193d57;
  font-weight: 600;
  font-family: "Andika", "sans-serif";
  line-height: 1.1;
}
.valeurs li::before {
  content: "✔";
  position: absolute;
  left: 0;
  top: -5px;
  color: #00b7e6;
  font-size: 1.2rem;
}
.philosophie-img {
  width: 100%;
  max-width: 500px;
  height: auto;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}
.image-cont {
  display: flex;
  align-items: center;
  justify-content: center;
}
