.header {
  width: 100%;
  height: 38vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: 100% 100vh;
  background-repeat: no-repeat;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../data/pictures/header.png");
  background-size: 100% 45vh;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(0.5);
  z-index: 1;
}
.header > h1 {
  position: relative;
  z-index: 2;
  color: #eef6ff;
  font-size: 45px;
  font-family: "Andika", "sans-serif";
}
.content {
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding: 160px 60px;
  background-image: url(../../data/pictures/bg1.jpg);
  background-size: contain;
  background-position: center;
}
.content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(101, 101, 101, 0.04);
  z-index: -1;
}
.service {
  display: grid;
  grid-column-gap: 100px;
  grid-template-columns: 1fr 1fr;
}
.text-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.text-container > p {
  font-weight: 500;
  color: #2f464c;
  font-size: 17px;
  text-align: justify;
  font-family: "Andika", "sans-serif";
  line-height: 1.8;
}
.text-container > h1 {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 31px;
  color: #333c4e;
}
.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.Transport-img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.im-5 {
  width: 78%;
}
