/*<!--************************************************************-->*/
/*<!--- #HEADER: --->*/
header {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.main-img {
  position: absolute;
  top: 1%;
  left: 4%;
  height: 80px;
  width: 80px;
  z-index: 9999;
  position: fixed;
  border-radius: 50%;
}
.home {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
nav {
  position: relative;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 50px;
  width: 100%;
  z-index: 999;
  background-color: #092e43c2;
  border-bottom: 4px solid #70b8ba;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}
.menu-nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.menu-nav > li {
  list-style-type: none;
  color: var(--white);
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  height: 100%;
}
.menu-nav > li > a {
  position: relative;
  text-decoration: none;
  color: var(--white);
  cursor: pointer;
  letter-spacing: 0.5px;
  padding: 0 1px;
  background: transparent;
  transition: all 0.3s;
  line-height: 1;
}
.menu-nav > li > a::after {
  content: "";
  position: absolute;
  background-color: #70b8ba;
  height: 2px;
  width: 0;
  left: 50%;
  bottom: -3px;
  border-radius: 4px;
  transition: width 0.3s, transform 0.3s;
  transform: translateX(-50%);
}
.menu-nav > li > a:hover {
  color: #70b8ba;
  transform: scale(1.05);
}
.menu-nav > li > a:hover::after {
  width: 100%;
  transform: translateX(-50%);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.drop-down {
  position: relative;
}
.drop-down a {
  text-decoration: none;
  padding: 10px 5px;
  display: block;
  color: #333;
}
.dropdown-content-Apropos,
.dropdown-content-Vie {
  display: grid;
  grid-template-columns: 1fr 1.3fr;
}
.drop-cont {
  display: none;
  position: absolute;
  left: 0;
  top: 177%;
  background-color: #193d57;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 1;
}
.dropdown-image-cont {
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
}
.dropdown-image-cont::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  background: linear-gradient(
    to left,
    rgba(25, 61, 87, 0.9),
    rgba(25, 61, 87, 0.6) 50%,
    rgba(25, 61, 87, 0)
  );
  z-index: 1;
}
.drop-parent {
  display: flex;
  justify-content: center;
  width: 400px;
  padding: 10px 30px;
  box-shadow: -10px 0 20px rgba(25, 61, 87, 0.5);
  position: relative;
}
.drop-parent ul {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0;
  margin: 0;
}
.dropdown-image {
  float: left;
  width: 300px;
  height: 100%;
  border-radius: 5px 0 0 5px;
}
.dropdown-content-Apropos ul,
.dropdown-content-Vie ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.c-1 {
  position: relative;
  transition: all 0.5s;
}
.e-1::before {
  content: "";
  position: absolute;
  background-color: #fff;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: -1%;
  border-radius: 4px;
}
.e-1:hover {
  color: #70b8ba;
  font-weight: 600;
}
.e-1:hover::after {
  left: 0;
}
.dropdown-content-Apropos a,
.dropdown-content-Vie a {
  display: block;
  text-decoration: none;
  color: var(--white);
  white-space: nowrap;
  font-size: 13.3px;
  font-family: "Rubik", "sans-serif";
}
.drop-down::after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 12px;
  z-index: 0;
}
.drop-down:hover .drop-cont,
.drop-cont:hover {
  display: block;
}

.logo-GSJJ-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-GSJJ {
  width: 70px;
  height: 70px;
  border-radius: 6px;
}
.language-dropdown {
  position: relative;
  display: inline-block;
}
#english-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 5px;
  background-color: var(--dark-blue);
  color: var(--white);
  padding: 5px 40px 5px 8px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
#english-button > span {
  font-size: 11px;
}
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-menu li {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: var(--dark-blue);
  list-style-type: none;
  padding: 5px 35px 5px 5px;
}
.dropdown-menu span {
  color: var(--white);
}
.dropdown-menu a {
  text-decoration: none;
  color: #333;
  display: flex;
}
.dropdown-menu.show {
  display: block;
}

.main-video {
  position: absolute;
  object-fit: contain;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  max-height: 100vh;
}
.infos-container {
  margin-top: auto;
}
.infos {
  margin-left: 55px;
  height: 275px;
  width: 590px;
  background-color: rgba(112, 184, 186, 0.9);
}
.discover {
  font-size: 50px;
  padding: 15px 0 0 25px;
  color: #193d57;
  text-transform: uppercase;
}
.shcool-name {
  font-size: 20px;
  padding: 0px 0 0 30px;
  color: var(--white);
}
.intro {
  color: #000;
  padding-top: 8px;
  padding-left: 30px;
  padding-right: 53px;
  font-family: "Andika", "sans-serif";
  line-height: 1.22;
}

.Commencer {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin: 9px 0 0 29px;
  perspective: 1000px;
  padding: 0.8em 1em;
  background: linear-gradient(#007bff, #0056b3);
  border: none;
  outline: none;
  font-size: 14.5px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #fff;
  text-shadow: 0 10px 10px #000;
  cursor: pointer;
  transform: rotateX(60deg) rotateZ(11deg);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  letter-spacing: 1.5px;
  border-radius: 5px 5px 0 0;
  text-decoration: none;
}
.Commencer::before {
  content: "";
  width: 100%;
  height: 15px;
  background-color: #0056b3;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: rotateX(90deg);
  transform-origin: bottom;
}
.Commencer::after {
  content: "";
  width: 15px;
  height: 100%;
  background-color: #007bff;
  position: absolute;
  top: 0;
  right: 0;
  transform: rotateY(-90deg);
  transform-origin: right;
}
.Commencer:hover {
  transform: rotateX(30deg) rotateZ(0);
}

.levels {
  width: 100%;
  background-color: #193d57;
  height: 45px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.separator {
  width: 1px;
  height: 23px;
  background-color: #fff;
  margin: 0 20px;
  align-self: center;
}
.button {
  width: 100px;
  height: 16px;
  position: relative;
  text-align: center;
  border-radius: 0.45em;
  transition: background 0.3s;
  cursor: pointer;
  font-family: "Andika", "sans-serif";
}
.button-wrapper {
  color: var(--white);
  text-decoration: none;
  font-weight: 700;
  flex-basis: 50%;
  position: relative;
  overflow: visible;
}
.button-wrapper,
.text,
.img-Maternelle-ToolTi-container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
}
.text {
  top: 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s, top 0.5s;
  font-weight: bold;
}
.img-Maternelle-ToolTi-container {
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: top 0.5s;
  font-weight: bold;
}
.icon > a {
  color: #fff;
  text-decoration: none;
  opacity: 0;
  transition: opacity 0.5s;
}
.button:hover .text {
  opacity: 0;
  top: -100%;
}
.button:hover .img-Maternelle-ToolTi-container {
  top: 0;
}
.button:hover .decouvrir-link {
  opacity: 1;
}
.img-Maternelle-ToolTi-container {
  position: relative;
}
.img-Maternelle-ToolTip {
  position: absolute;
  left: 50%;
  top: -40px;
  transform: translateX(-50%);
  background-color: #70b8ba;
  color: #fff;
  border: 8px solid #007bff;
  white-space: nowrap;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  height: 215px;
  width: 220px;
  display: none;
}
.ToolTip-img-maternelle {
  background-image: url(../../data/pictures/test.png);
  background-size: cover;
  background-position: center;
}
.ToolTip-img-primaire {
  background-image: url(../../data/pictures/maternelle.jpg);
  background-size: cover;
  background-position: center;
}
.img-Maternelle-ToolTip::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 101%;
  transform: translateX(-50%);
  border-width: 33px 18px 0;
  border-style: solid;
  border-color: #007bff #0000 #0000 #0000;
}
.button:hover .img-Maternelle-ToolTip {
  display: block;
  top: -1540%;
}
/*<!--************************************************************-->*/
/*<!------------------------ #MAIN: -------------------------------->*/
/*<!--************************************************************-->*/

/*<!--- # Intro : --->*/
.Intro {
  background-image: url(../../data/pictures/bg1.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  padding: 80px 60px 20px 60px;
  font-family: "Andika", "sans-serif";
}
.Intro::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(101, 101, 101, 0.04);
  z-index: 1;
}
.intro-underline {
  width: 30% !important;
  margin-top: 50px;
}
.intro-line {
  background: linear-gradient(90deg, #12264f 0%, #70b8ba 100%) !important;
}
.intro-line::before {
  box-shadow: 10px 0 0 0 #12264f, 20px 0 0 0 #12264f, 30px 0 0 0 #12264f !important;
}
.Intro > h1 {
  font-size: 47px;
  color: #ff9143;
}
.Intro > h3 {
  color: #70b8ba;
  font-size: 17px;
}
/*<!--************************************************************-->*/
/*<!--- # Bienvenu : --->*/
.Bienvenu {
  background-image: url(../../data/pictures/bg1.jpg);
  background-size: cover;
  background-position: center;
  display: grid;
  grid-column-gap: 0px;
  grid-template-columns: 1.5fr 1fr;
  justify-self: center;
  align-self: center;
  padding: 80px 7% 120px 7%;
  color: #000;
  line-height: 1.2;
  z-index: 1;
  position: relative;
  width: -webkit-fill-available;
}
.Bienvenu::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(101, 101, 101, 0.04);
  z-index: -1;
}
.Bienvenu-txt-cont {
  padding-right: 70px;
}
.Bienvenu-img-cont {
  display: flex;
  align-items: center;
}
.Bienvenu-img {
  width: 100%;
  height: 80%;
  border-radius: 12px;
}
.Bienvenu-f1 {
  color: #70b8ba;
  font-size: 30px;
}
.Bienvenu h1 {
  font-size: 2.3rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #193d57;
  line-height: 1.3;
}
.Bienvenu p {
  font-size: 1.1rem;
  max-width: 715px;
  margin: 0 auto;
  line-height: 1.4;
  box-sizing: border-box;
  color: #000;
  text-align: justify;
  font-family: "Andika", "sans-serif";
}
.hidden-title {
  display: none;
}
/*<!--************************************************************-->*/
/*<!--- # Creation-infos : --->*/
.Creation-infos {
  background: url(../../data/pictures/bg2.jpg) no-repeat center center fixed;
  background-size: cover;
  position: relative;
  padding: 70px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  border: 8px solid transparent;
  border-image-slice: 1;
}
.Creation-infos::before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(15, 22, 63, 0.85);
  z-index: 0;
}
.Creation-infos.animate {
  animation: animate-border 3s linear;
  animation-iteration-count: infinite;
}
.C-Infos {
  color: var(--white);
  font-weight: 700;
  z-index: 2;
  position: relative;
}
.C-Infos > span {
  font-size: 58px;
  display: block;
  position: relative;
}
.C-Infos > span::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -22px;
  height: 3px;
  background: linear-gradient(90deg, #fff, #ff6a00);
  margin: 15px auto;
  border-radius: 10px;
}
.C-Infos.creation > span::after {
  width: 180px;
  animation: borderAnimation-1 2.8s ease infinite;
  animation-fill-mode: forwards;
}
@keyframes borderAnimation-1 {
  0% {
    width: 0;
  }
  100% {
    width: 180px;
  }
}
.C-Infos.expertise > span::after {
  width: 90px;
  animation: borderAnimation-2 2.8s ease infinite;
  animation-fill-mode: forwards;
}
@keyframes borderAnimation-2 {
  0% {
    width: 0;
  }
  100% {
    width: 90px;
  }
}
.C-Infos > p {
  font-size: 20px;
  padding-top: 20px;
}
.C-Infos:hover > span::after {
  background: linear-gradient(140deg, #70b8ba, #193d57);
  transition: background-color 0.5s ease-in-out;
}
.C-Infos:hover > span {
  color: #70b8ba;
  transform: scale(1.05);
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.C-Infos:hover > p {
  color: #70b8ba;
  transition: color 0.3s ease-in-out;
}

/*<!--************************************************************-->*/
/*<!--- # Mot Du Directeur : --->*/
.MOT-DU-DIRECTEUR {
  background-image: url(../../data/pictures/bg1.jpg);
  background-size: cover;
  background-position: center;
  padding: 80px 80px;
  position: relative;
}
.MOT-DU-DIRECTEUR::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(101, 101, 101, 0.04);
}
.frame-container {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  background-color: #eee;
  border-radius: 12px;
  padding: 80px 0;
  border: 3px solid #193d57;
  box-shadow: 0 0 10px rgba(25, 61, 87, 0.4);
  animation: pulse 2s infinite;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 10px #70b8ba, 0 0 20px #70b8ba;
  }
  50% {
    box-shadow: 0 0 15px #70b8ba, 0 0 25px #70b8ba;
  }
  100% {
    box-shadow: 0 0 10px #70b8ba, 0 0 20px #70b8ba;
  }
}
.line-animation {
  position: relative;
}
.MDD {
  font-size: 2.3rem;
  color: #193d57;
  padding: 0 12px;
}
.MDD-Text {
  padding: 0 80px;
  font-size: 1.07rem;
  box-sizing: border-box;
  line-height: 1.8;
  color: #12264f;
  text-align: justify;
  font-family: "Andika", "sans-serif";
}
.mot-line {
  background: linear-gradient(90deg, #12264f 0%, #70b8ba 100%) !important;
}
.mot-line::before {
  box-shadow: 10px 0 0 0 #12264f, 20px 0 0 0 #12264f, 30px 0 0 0 #12264f !important;
}
.frame {
  width: 100%;
  height: 630px;
}
.hidden-text {
  display: none;
}
.read-more-label {
  color: #70b8ba;
  cursor: pointer;
  font-weight: bold;
}
.read-more-toggle:checked + .hidden-text {
  display: inline;
}
.read-more-toggle:checked + .hidden-text + .read-more-label {
  display: inline;
}
.read-more-toggle:checked + .hidden-text + .read-more-label::before {
  content: " Lire moins";
}
.read-more-label::before {
  content: "Lire plus";
}
.read-more-toggle {
  display: none;
}

/*<!--************************************************************-->*/
/*<!--- # Niveaux : --->*/

/*<!--************************************************************-->*/
/*<!--- # Events : --->*/

/*<!--************************************************************-->*/
/*<!--- # Nos Services : --->*/
.Nos-Services {
  background-color: rgba(0, 188, 212, 0.13);
  padding: 110px 50px;
}
.container {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
}
.services-txt-cont {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.services-img-cont {
  display: flex;
  align-items: center;
}
.services-img {
  width: 100%;
}
.services-header {
  color: #193d57;
  font-size: 2rem;
}
.services-text {
  font-size: 16px;
  font-weight: 600;
  color: #2f464c;
  line-height: 1.5;
  font-family: "Andika", "sans-serif";
}
.services-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.service-cont {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  color: #2f464c;
}
.services-icon-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 30px;
  height: 30px;
}
.fas {
  font-size: 20px;
}
.services-btn {
  text-decoration: none;
}
.service-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.box {
  position: relative;
  outline: 1px solid #0097d2;
  padding: 12px 0;
  width: max-content;
  border-radius: 5px;
}
.button-services {
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: #fff;
  background: transparent;
  padding: calc(3rem / 3) 3rem;
  border: none;
  cursor: pointer;
  text-shadow: 2px 0px #0097d2, 0px 2px #0097d2, -2px 0px #0097d2,
    0px -2px #0097d2;
}
.space {
  width: 100%;
  height: 100%;
  bottom: 0%;
  gap: 1.5rem;
  transition: 0.5s ease-in-out;
  z-index: -1;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  display: flex;
  background: linear-gradient(160deg, #193d57, #1a3d5d);
  border-radius: 5px;
}
.box:hover .space {
  opacity: 0;
}
.star {
  height: 4rem;
  width: 0.3rem;
  transition: 0.5s;
  border-radius: 50px;
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
  position: relative;
  background-color: #0097d2;
  animation: space-animation calc(0.1s * var(--i)) linear infinite;
}
@keyframes space-animation {
  0% {
    transform: rotate(-30deg) translateY(calc(-52% * var(--i)));
  }
  100% {
    transform: rotate(-30deg) translateY(calc(52% * var(--i)));
  }
}

/*<!--************************************************************-->*/
/*<!--- # Réglement Intérieur : --->*/
.reglement {
  background-image: url(../../data/pictures/bg1.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 100px 60px;
  display: grid;
  grid-column-gap: 0px;
  grid-template-columns: 1fr 1.2fr;
  align-items: center;
}
.reglement::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(101, 101, 101, 0.04);
}
.reglement-p2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 50px;
}
.reglement-img {
  width: 90%;
  aspect-ratio: 18 / 9;
  border-radius: 12px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}
.heading-primary {
  font-size: 2.3rem;
  color: #193d57;
  text-transform: uppercase;
}
.reglement-container {
  background-color: #193d57;
  padding: 12px 20px;
  border-radius: 8px;
  letter-spacing: 2px;
  transition: color 0.4s linear;
  position: relative;
  z-index: 1;
}
.reglement-container::before {
  content: "";
  border-radius: 8px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #00b0f0;
  z-index: -1;
  transition: transform 0.8s;
  transform-origin: 0 0;
  transform: scaleX(0);
}
.reglement-container:hover::before {
  transform: scaleX(1);
}
.download-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  color: var(--white);
  text-decoration: none;
}
.download-container > h3 {
  font-size: 17px;
  letter-spacing: 1px;
  font-family: "Andika", "sans-serif";
}
.reglement-download {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid rgb(1, 235, 252);
  box-shadow: 0px 0px 100px rgb(1, 235, 252),
    inset 0px 0px 10px rgb(1, 235, 252), 0px 0px 5px rgb(255, 255, 255);
  animation: rotate 2s linear infinite;
}
@keyframes rotate {
  0% {
    border-color: rgb(1, 235, 252);
    box-shadow: 0 0 10px rgb(1, 235, 252), 0 0 20px rgb(1, 235, 252);
  }
  25% {
    border-color: transparent;
    box-shadow: 0 0 10px rgb(1, 235, 252), 0 0 20px rgb(1, 235, 252);
  }
  50% {
    border-color: rgb(1, 235, 252);
    box-shadow: 0 0 10px rgb(1, 235, 252), 0 0 20px rgb(1, 235, 252);
  }
  75% {
    border-color: transparent;
    box-shadow: 0 0 10px rgb(1, 235, 252), 0 0 20px rgb(1, 235, 252);
  }
  100% {
    border-color: rgb(1, 235, 252);
    box-shadow: 0 0 10px rgb(1, 235, 252), 0 0 20px rgb(1, 235, 252);
  }
}
.download-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(1, 235, 252);
  font-size: 15px;
  cursor: pointer;
  animation: iconflicker 1s linear infinite;
  margin-left: 2px;
}
@keyframes iconflicker {
  0%,
  100% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(1);
  }
}

/*<!--************************************************************-->*/
/*<!--- # Nos-Site : --->*/
.Nos-Site {
  background-color: rgb(0 29 212 / 26%);
  padding: 60px 60px 90px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.heading-shcool-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;
  position: relative;
  width: 100%;
}
.heading-child-cont {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 10px;
}
.shcool-first-p {
  display: flex;
  align-items: center;
  justify-content: center;
}
.underline-shcool {
  position: relative;
  display: inline-block;
  width: 108%;
}
.shcool-line {
  height: 5px;
  background: linear-gradient(90deg, #ffa200 0%, #ffa200 100%);
  width: 95%;
  float: right;
  position: relative;
  border-radius: 2px;
}
.shcool-line::before {
  content: "";
  position: absolute;
  left: -42px;
  top: -0px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 10px 0 0 0 #ffa200, 20px 0 0 0 #ffa200, 30px 0 0 0 #ffa200;
}
.shcool-icon {
  font-size: 40px;
  color: #ff6a00;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.shcool-icon:hover {
  animation: scaleAnimation 1s infinite;
}
@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.Nos-Site-Heading {
  color: #ff6a00;
  font-size: 2.3rem;
  animation: reviews-heading 1s infinite alternate;
  transition: all 0s;
  font-family: "Andika", "sans-serif";
  padding-right: 25px;
  line-height: 1;
}
@keyframes reviews-heading {
  100% {
    color: #ff9143;
  }
}
.Nos-Site-Heading span {
  transition: all 0s;
  padding-right: 10px;
  display: inline-block;
  animation: reviews-heading-span 1s infinite alternate;
}
@keyframes reviews-heading-span {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10px);
    color: #ff9143;
  }
}
.reviews-heading span {
  transition: all 0s;
  display: inline-block;
  animation: reviews-heading-span 0.98s infinite alternate;
}
.nos-site-container {
  position: relative;
  height: 400px;
  min-width: 70%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  border-radius: 5px;
  transition: all 0.5s;
}
.nos-site-container:hover {
  transform: scale(1.01);
  cursor: pointer;
}
.nos-site-figcaption {
  position: relative;
  transition: all 0.8s !important;
  height: 100% !important;
  width: 100% !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-size: 100% 100% !important;
  background: url(../../data/pictures/ecole.png);
}
.nos-site-container:hover .nos-site-figcaption {
  transform: scale(1.1) !important;
  background: url(../../data/pictures/ecole-2.png);
  opacity: 0.9;
}
.visit-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 50px;
  background-color: #193d57;
  color: var(--white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 2;
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.3s;
  text-decoration: none;
  pointer-events: auto;
  transition: all 0.5s;
}
.visit-button:hover {
  background-color: #ff6a00;
}
.nos-site-container:hover .visit-button {
  opacity: 1;
}
.nos-site-figcaption::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  transform: translateY(-100%);
  transition: transform 0.8s ease-in-out;
  z-index: 1;
}
.nos-site-container:hover .nos-site-figcaption::before {
  transform: translateY(0);
}

/*<!--************************************************************-->*/
/*<!--- # Contactez Nous : --->*/
.Contactez-nous {
  background: url(../../data/pictures/maternelle.jpg) fixed center;
  background-size: cover;
  position: relative;
  padding: 100px 160px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.Contactez-nous::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(15, 22, 63, 0.85);
}
.Contact-Title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  background-color: transparent;
  background-image: linear-gradient(318deg, #00b0f0a6 83%, #b9ecfd 104%);
  border-radius: 8px;
  padding: 50px 20px 30px 20px;
  color: var(--white);
  z-index: 1;
  box-shadow: 0 0 78px rgba(0, 0, 0, 0.6);
}
.Contact-f1 {
  position: relative;
}
.Contact-f1 > h1 {
  display: inline-block;
  font-size: 30px;
  position: relative;
  color: #d1909b;
}
.Contact-f1 h1::before,
.Contact-f1 h1::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 80px;
  height: 2px;
  background-color: #d1909b;
}
.Contact-f1 h1::before {
  left: -100px;
}
.Contact-f1 h1::after {
  right: -100px;
}
.Contact-f1 > p {
  font-weight: 600;
  line-height: 21px;
  font-size: 17px;
  padding: 20px 100px 5px;
  font-family: "Andika", "sans-serif";
}
.form-container {
  z-index: 1;
  width: -webkit-fill-available;
  padding: 0 20%;
}
.Contacts-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
  width: -webkit-fill-available;
}
.form-row {
  display: flex;
  gap: 1px;
}
.form-row div {
  flex: 1;
}
.Contacts-form input,
.Contacts-form textarea,
.Contacts-form button {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  font-family: "Andika", "sans-serif";
  line-height: 1.1;
}
.Contacts-form input:focus,
.Contacts-form textarea:focus {
  border: 2px solid #193d57;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(112, 184, 186, 0.5);
  background-color: #ececec;
}
.Contacts-form textarea {
  resize: none;
  cursor: text;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.Contacts-form button {
  background-color: #193d57;
  color: white;
  cursor: pointer;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
  padding: 10px 82px;
  margin: 0;
  margin-top: 15px;
  width: auto;
}
.envoyer {
  height: 40px;
  width: 100%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.envoyer:hover {
  box-shadow: 0.5px 0.5px 150px #252525;
}
.type1::after {
  content: "Envoyer";
  height: 38px;
  width: 166px;
  background-color: #008080;
  color: #fff;
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translateY(50px);
  font-size: 15px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}
.type1::before {
  content: "Envoyer";
  height: 38px;
  width: 166px;
  background-color: #193d57;
  color: #fff;
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translateY(0px) scale(1.2);
  font-size: 15px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}
.type1:hover::after {
  transform: translateY(0) scale(1.2);
}
.type1:hover::before {
  transform: translateY(-50px) scale(0) rotate(120deg);
}

/*<!--************************************************************-->*/
/*<!--- #FOOTER: --->*/
.footer {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1.2fr;
  padding: 70px 60px;
  background-color: #3f527b;
  color: var(--white);
}
.shortcuts-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-logo-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: relative;
  padding: 0;
  margin: 0;
}
.footer-logo-container > h1 {
  font-size: 18px;
  line-height: 12px;
  color: #00b0f0;
  font-family: "Andika", "sans-serif";
}
.footer-logo-GSJJ {
  width: 90px;
  height: 90px;
  border-radius: 3px;
  margin-bottom: 6px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  border-radius: 50%;
}
.footer-logo-GSJJ:hover {
  transform: scale(1.04);
  cursor: pointer;
}

.shortcuts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.shortcuts > li {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: transform 0.5s;
}
.shortcuts > li > a {
  color: var(--second-color);
  text-decoration: none;
  transition: color 0.3s ease-in-out, transform 0.5s ease-in-out;
  font-family: "Andika", "sans-serif";
  line-height: 1.4;
}
.shortcuts > li:hover > a {
  color: #ff9700ad;
  transform: translateX(5px);
  text-decoration: underline;
  text-underline-offset: 0.1em;
}
.shortcuts > li > i {
  font-size: 10px;
  transition: transform 0.5s;
}
.shortcuts > li:hover > i {
  transform: rotate(180deg);
  cursor: pointer;
  color: #ff9700ad;
}

.contact-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 20px;
}
.infos-contact {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 8px;
  padding: 0 14px;
}
.inside-contact {
  display: flex;
  gap: 14px;
}
.toolTip-conainer > i {
  font-size: 18px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
.toolTip-conainer > i:hover {
  transform: translateY(-2px);
  color: #ff9700ad;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.inside-contact > a {
  text-decoration: none;
  color: var(--second-color);
  transition: color 0.3s;
  font-family: "Andika", "sans-serif";
  line-height: 1.3;
}
.inside-contact > a:hover {
  color: #ff9700ad;
  text-decoration: underline;
  text-underline-offset: 0.2em;
  transform: translateY(-2px);
  transition: 0.3s, transform 0.2s;
}
.toolTip-conainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.location-ToolTip {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  background-color: #000000ab;
  color: #fff;
  white-space: nowrap;
  padding: 5px 10px;
  border-radius: 7px;
  font-size: 12px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5 ease;
}
.location-ToolTip::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  border: 6px solid;
  border-color: #000 #0000 #0000 #0000;
}
.toolTip-conainer:hover .location-ToolTip {
  top: -180%;
  visibility: visible;
  opacity: 1;
}
.toolTip-conainer:hover .location-ToolTip {
  top: -185%;
  visibility: visible;
  opacity: 1;
}
.Tt-c-1:hover .Tt-1 {
  top: -70%;
}

.socials-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 10px;
}
.inside-socials {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 30px;
}
.inside-socials > i {
  font-size: 30px;
  cursor: pointer;
}

.social {
  margin: 0;
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.social .social-item {
  margin: 0 30px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social .social-item .social-link {
  position: relative;
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  text-align: center;
  transform: perspective(1000px) rotate(-15deg) skew(25deg) translate(0, 0);
  transition: all 0.4s ease;
  text-decoration: none;
  color: inherit;
}
.social .social-item .social-link::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -10px;
  height: 100%;
  width: 10px;
  background: #b1b1b1;
  transition: all 0.4s ease;
  transform: rotate(0deg) skewY(-45deg);
}
.social .social-item .social-link::after {
  content: "";
  position: absolute;
  top: 36px;
  left: -5px;
  height: 10px;
  width: 100%;
  background: #b1b1b1;
  transition: all 0.4s ease;
  transform: rotate(0deg) skewX(-45deg);
}
.social .social-item .social-link:hover {
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(5px, -5px);
  box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
}
.social .social-item:nth-child(1) a {
  color: #3b5999;
}
.social .social-item:nth-child(1):hover a {
  background: #3b5999;
}
.social .social-item:nth-child(1):hover a::before {
  background: #3b5999;
}
.social .social-item:nth-child(1):hover a::after {
  background: #3b5999;
}
.social .social-item:nth-child(2) a {
  color: #e4405f;
}
.social .social-item:nth-child(2):hover a {
  background: #e4405f;
}
.social .social-item:nth-child(2):hover a::before {
  background: #e4405f;
}
.social .social-item:nth-child(2):hover a::after {
  background: #e4405f;
}
.social .social-item:nth-child(3) a {
  color: #55acee;
}
.social .social-item:nth-child(3):hover a {
  background: #55acee;
}
.social .social-item:nth-child(3):hover a::before {
  background: #55acee;
}
.social .social-item:nth-child(3):hover a::after {
  background: #55acee;
}
.social .social-item .social-link:hover {
  color: #ffffff;
}

.location-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.location {
  height: 250px;
  width: 100%;
}
.copyright {
  position: relative;
  background-color: #193d57;
  padding: 15px;
}
.MM {
  width: 2.5rem;
  padding: 0 5px;
}
.MM:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.MM-container,
.copyright-GSJJ {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}
.MM-container {
  color: var(--second-color);
}

.go-up-container {
  position: fixed;
  right: 5%;
  bottom: 4%;
  display: none;
  z-index: 999;
  background-color: #333c4e;
  border-radius: 50px;
}
.stroke {
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.stroke svg {
  width: 42px;
  height: 42px;
}
.stroke svg circle {
  fill: transparent;
  stroke-width: 4;
  stroke: #70b8ba;
  stroke-dasharray: 119.38;
  stroke-dashoffset: 119.38;
  transition: stroke-dashoffset 0.3s linear;
}
.btn-go-up {
  display: block;
  position: relative;
  width: 48px;
  height: 48px;
  margin: 0;
  overflow: hidden;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border: 0;
}
.btn-go-up:before,
.btn-go-up:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 7px;
}
.btn-go-up:before {
  border: 3.5px solid #f0eeef;
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}
.btn-go-up:after {
  border: 3.5px solid #96daf0;
  transform: scale(1.3);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
}
.btn-go-up:hover:before,
.btn-go-up:focus:before {
  opacity: 0;
  transform: scale(0.7);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.btn-go-up:hover:after,
.btn-go-up:focus:after {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}
.button-box-go-up {
  display: flex;
  flex-direction: column;
  gap: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.button-elem-go-up > i {
  font-size: 14px;
}
.button-elem-go-up:first-child {
  display: block;
  width: 20px;
  height: 20px;
  margin-top: 55px;
  transform: rotate(180deg);
  color: var(--white);
  transition: transform 0.4s ease-in-out;
}
.button-elem-go-up:last-child {
  display: block;
  width: 20px;
  height: 20px;
  transform: rotate(180deg);
  color: var(--white);
  transition: transform 0.4s ease-in-out;
}
.btn-go-up:hover .button-box-go-up,
.btn-go-up:focus .button-box-go-up {
  transition: 0.4s;
  transform: translate(-50%, calc(-50% - 56px));
}

.copyright-GSJJ {
  gap: 20px;
  font-family: "Andika", "sans-serif";
}
.copyright-logo {
  width: 40px;
}
.MyName {
  text-decoration: none;
  color: var(--second-color);
}
.MM-container b,
.MM-container .MyName {
  font-family: "Andika", "sans-serif";
}
.MyName:hover {
  color: rgb(0, 0, 0);
  text-decoration: underline;
  text-underline-offset: 0.1em;
}
